<div class="home">
    <div class="header">
        <h1 class="primary-heading">
            <span class="primary-heading__support">Welcome to</span>
            <span class="primary-heading__main">{{ place }}</span>
            <span class="primary-heading__subtitle">It is the forecast for the next 5 days</span>
        </h1>
    </div>
    <div class="weather-cards-box">
        <div [class.weather-main-card]="i === 0" [class.weather-support-card]="i !== 0" *ngFor="let weather of weatherForecast$ | async; let i = index">
            <h3 class="tertiary-heading">
                {{ weather.dt_txt | date: short }}
            </h3>
            <h3 class="main-weather">
                {{ weather.main.temp | number: '1.0-0' }}°
            </h3>
            <h3 class="tertiary-heading">
                <span class="tertiary-heading--small">Min: </span>{{ weather.main.temp_min | number: '1.0-0' }}° / <span class="tertiary-heading--small">Máx: </span>{{ weather.main.temp_max | number: '1.0-0' }}° - <span class="tertiary-heading--big"><span class="tertiary-heading--small">Feels like </span>{{ weather.main.feels_like | number: '1.0-0' }}°</span>
            </h3>
        </div>
    </div>
</div>
