<div class="home">
  <div class="header">
    <div class="header__container">
      <div class="header__container--left">
        <h1 class="primary-heading">
          <span class="primary-heading__support">Welcome to</span>
          <span class="primary-heading__main" [innerHTML]="place"></span>
          <span class="primary-heading__subtitle">This is the forecast for the next 5 days for this location</span>
        </h1>
      </div>
      <div class="header__container--right">
        <form [formGroup]="formGroup" (submit)="search()">
          <input
            type="text"
            placeholder="Search a place..."
            formControlName="query"
          />
        </form>
      </div>
    </div>
  </div>
  <app-weather-box *ngIf="consolidatedWeather$ | async as consolidatedWeather" [consolidatedWeather]="consolidatedWeather"></app-weather-box>
</div>
