body {
    font-family: 'Roboto', sans-serif;
}

.primary-heading {
    &__support {
        font-size: 2.5rem;
    }

    &__main {
        display: block;
        color: $primary-color;
        text-transform: uppercase;
        font-size: 5rem;

        span {
            font-size: 1.5rem;
        }
    }

    &__subtitle {
        font-weight: lighter;
    }
}

.secondary-heading {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.tertiary-heading {
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2rem;

    &--small {
        font-size: 1.2rem;
    }

    &--big {
        font-weight: bold;
    }
}

.main-weather {
    font-size: 8rem;
    font-weight: lighter;
    display: inline-block;
    margin: 2rem 0 2rem 0;
}

.paragraph {
    font-size: 1.8rem;
}
