@import "../../../../assets/scss/abstracts/variables";
@import "../../../../assets/scss/abstracts/mixins";

.weather-cards-box {
  margin-top: 2rem;
  @include clearfix;

  .weather-main-card,
  .weather-support-card {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba($dark, 0.15);
    text-align: center;
  }

  .weather-main-card {
    width: 100%;
    float: left;

    @include respond(tab-port) {
      width: calc((100% - 2rem) / 2);
      float: left;
      margin-right: 2rem !important;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  .weather-support-card {
    width: calc((100% - 6rem) / 3);
    float: left;

    &:not(:nth-child(4n)) {
      margin-right: 3rem;
    }

    &:last-child {
      margin-right: 0;
    }

    @include respond(tab-port) {
      width: calc((100% - 2rem) / 2);
      &:nth-child(odd) {
        margin-right: 2rem;
      }

      &:nth-child(even) {
        margin-right: 0rem;
      }

      &:last-child {
        width: 100%;
        margin-right: 0;
      }
    }

    @include respond(phone) {
      width: 100%;
      margin-right: 0;
    }
  }
}
